.common-popup-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 9999;

  .common-popup {
    width: 38%;
    min-height: 300px;
    padding: 0 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: white;
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
